@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
  font-family: 'JetBrains Mono NL', sans-serif;
}


body {
  background-color: #011924;
  color: #fafaf5;
  font-size: 1.2rem;
  font-weight: 100;
  .container-nav {
    display: flex;
    padding: 10px;
    height: 70px;
    background-color: rgba(160, 172, 190, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(160, 172, 190, 0.3);
    border-bottom: 2px solid #fafaf5;    
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.7s;
    z-index: 10;
    .navbar {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      .brand {
        display: flex;
        align-items: center;
        img {
          position: absolute;
          background-color: #fafaf5;
          width: 80px;
          height: 80px;
          top: 2px;
          border-radius: 50%;
        }
      }
      .nav-links {
        display: flex;
        align-items: center;
        li {
          list-style-type: none;
          &:hover {
            color: goldenrod;
            transform: scale(1.1);
            transition: all 0.5s;
          }
          a {
            padding: 8px 24px;
            color: white;
            text-decoration: none;
            &:hover {
              color: goldenrod;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .button-menu-toggle {
      display: none;
    }
  }
  main {
    width: 100%;
    min-height: calc(100vh - 200px);
    margin: 50px auto;
  }
  .index-container {
    min-height: 100vh;
    margin: 100px auto;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    .titulo-container {
        background-color: #a0acbe;
        border-radius: 5px;
        h1 , h2 {
            padding: 10px 20px;
            color: #011924;
            font-size: 2.1rem;
            text-align: center;
        }
    }
    .main-container {
        width: 100%;
        margin: 50px auto;
        display: flex;
        gap: 20px;
        .left-side-container, .right-container {
            width: 50%;
            display: flex;
            padding: 30px;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.09);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(1.9px);
            -webkit-backdrop-filter: blur(1.9px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            .subtitulo-container {
                color: #a0acbe;
                width: 100%;
                font-size: 1.1rem;
                min-height: 80px;
            }
            .texto-container {
              font-size: 1rem;
              span {
                color: #fafaf5;
              }
              .icon-texto {
                width: 25px;
                height: 25px;
              }
            }
            .img-perfil-container {
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 170px;
              img {
                border-radius: 50%;
                width: 120px;
                height: 120px;
                &:hover {
                  transform: scale(1.1);
                  transition: all 0.5s;
                }
              }
            }
            .img-icon-container {
              span {
                font-size: 100px;
                text-align: center;
              }
              display: flex;
              justify-content: space-between;
              align-items: center;
              justify-content: center;
              padding: 20px;
              min-height: 170px;
              img {
                width: 100px;
                height: 100px;
                &:hover {
                  transform: scale(1.1);
                  transition: all 0.5s;
                }
              }
            }
        }
    }
    .video-container {
      display: flex;
      justify-content: center;
      margin: 30px auto;
      iframe {
        width: 560px;
        height: 315px;
        border-radius: 10px;
      }
    }
  }
  footer {
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

/*ABOUT*/
.main-about-container {
  background-color: #fafaf5;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .titulo-container {
      background-color: #a0acbe;
      border-radius: 5px;
      h1 {
          padding: 10px 20px;
          color: #011924;
      }
    }
    .texto-container {
      padding: 20px;
      margin: 20px auto;
      p {
        color: #011924;
      }
    }
    .img-about-container {
      width: auto;
      display: flex; 
      justify-content: center;
      gap: 20px;
      overflow: hidden;
      margin: 50px auto;
      img {
        width: 30%;
        border-radius: 10px;
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s;
        }
      }    
    }
  }
}

/*SERVICES*/
.services-container {
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .texto-container {
    padding: 20px;
  }
  .container-acordion {
    padding: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    details {
      border-bottom: 2px solid #011924;
    }
    summary {
      background-color: #fafaf5;
      padding: 20px;
      color: #011924;
      border-radius: 10px;
      &:hover {
        background-color: #a0acbe;
        transition: all 0.2 ease-in-out;
        color: #fafaf5;
        cursor: pointer;
      }
    }
    p {
      background-color: #011924;
      color: #fafaf5;
      padding: 20px;
    }
  }
}

/*CONTACT*/
.contact-container {
  min-height: 100vh;
  background-color: #fafaf5;
  display: flex;
  align-items: center;
  .texto-container {
    padding: 20px;
    margin: 20px auto;
    p {
      color: #011924;
    }
  }
  form {
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    label {
      color: #011924;
      padding: 10px;
      cursor: pointer;
    }
    input {
      width: 50%;
      min-height: 40px;
      border: 1px solid #011924;
      border-radius: 5px;
    }
    textarea {
      margin-bottom: 30px;
      border-radius: 5px;
    }
    .boton-container {
      display: flex;
      justify-content: end;
      button {
        width: 200px;
        min-height: 50px;
        border: none;
        background-color: gold;
        border-radius: 5px;
        &:hover {
          background-color: goldenrod;
          transition: all 0.5 ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  padding: 40px;
  text-align: center;
  p {
    margin: 0;
  }
  .footer-links {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        color: #a0acbe;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .button-container {
    margin: 40px auto;
    button {
      font-size: 1.4rem;
      border-radius: 5px;
      padding: 10px;
      &:hover {
        background-color: #a0acbe;
      }
    }    
  }

}
  


@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    max-width: 100%;
    .container-nav {
      width: 100%;
      .navbar {
        .brand {
          img {
            width: 50px;
            height: 50px;
          }
        }
        .nav-links {
          display: none;
        }
        .nav-links-responsive {
          position: absolute;
          display: flex;
          background-color: #011924;
          width: 100vw;
          height: auto;
          top: 59px;
          left: 0;
          flex-direction: column;
          padding-top: 80px;
          align-items: center;
          gap: 20px;
          font-size: 40px;
          li {
            margin-bottom: 40px;
          }
        }
      }
      .container-burger-menu {
        margin: auto;
        .button-menu-toggle {
          display: block;
          background-color: rgba(160, 172, 190, 0.72);
          border: none;
          border-radius: 50px;
          padding: 0 24px;
          font-family: monospace;
          font-weight: bold;
          font-size: 20px;
        }
      }      
    }
    .container {
      .titulo-container {
        h1 {
          font-size: 1.4rem;
        }        
      }
      .main-container {
        flex-direction: column;
        .left-side-container, .right-container{
          width: 100%;
        }
        .subtitulo-container {
          h2 {
            font-size: 1.3rem;
            text-align: center;
          }
        }
        .texto-container {
          p {
            font-size: 1rem;
          }
        }
        .right-container {
          .img-icon-container{
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }
    .main-about-container {
      display: block;
      .index {
        .container{
          .titulo-container {
            h2 {
              font-size: 1.3rem;
            }            
          }
          p {
            font-size: 1rem;
          }
          .img-about-container {
            img {
              width: 100%;
            }            
          }
        }        
      }      
    }
    .services-container {
      .titulo-container {
        h2 {
          font-size: 1.3rem;
        }
      }
      p {
        font-size: 1rem;
      }
      .container-acordion {
        padding: 0;
        details {
          font-size: 1rem;
        }
      }
    }
    .contact-container {
      .titulo-container {
        h2 {
          font-size: 1.3rem;
        }
      }
      p {
        font-size: 1rem;
      }
      form {
        label {
          width: 100%;
          font-size: 1rem;
        }
        input {
          min-height: 40px;
          width: 100%;
        }
      }
    }
  }

  /*
  .img-about-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }*/
}
